*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: #333; text-decoration: none;}
body{
    font-family: 'LINESeedKR-Bd';
    font-size: 16px;
    line-height: 32px;
    color: #333;
    min-width: 1320px;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*header*/
#header{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
}
.container{
    padding-left: 40px;
    padding-right: 40px;
}
.gnb_left{
    float: left;
    padding-top: 30px;
}
.gnb_left> li{
    float: left;
    position: relative;
}
.gnb_left> li> a{
    display: block;
    padding: 6px 10px 26px;
    font-weight: bold;
    margin: 0 10px;
}
.gnb_left li:hover .submenu{
    display: block;
}
/*submenu*/
.submenu{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
}
.submenu li a{
    display: block;
    text-align: center;
}
.logo{
    display: inline;
}
.logo img{ 
    padding: 15px;
    margin-left: 166px;
}
.gnb_right{
    float: right;
    padding-top: 30px;
}
.gnb_right> li{
    float: left; 
    
}
.gnb_right> li> a{
    display: block;
    padding: 6px 10px;
    
}
.gnb_right> li> a:hover{
    display: block;
}
/*popup*/
.popup_open{
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.popup{
    position: absolute;
    z-index: 99;
    top: 38px;
    right: -118%;
    box-sizing: border-box;
}
input.popup_input::placeholder{
    color: rgb(0, 0, 0);
    padding-left: 2px;
    font-size: 12px;
}
.close_btn{
    display: inline-block;
    color: #fff;
    background-color: #000000;
    width: 50px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: -50px;
    bottom: 4px;
}
/*main_title*/
.main_title{
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.category_title{
    width: 500px;
    overflow: hidden;
    margin: 30px auto;
}
.category_title li{
    float: left;
    padding: 0 50px;
    margin-bottom: 15px;
}
.category_title span{
    padding-left: 180px;
    font-size: 14px;
}
.category_title li a span:hover{
    text-decoration: underline;
}
.category_box{
    width: 1320px;
    overflow: hidden;
    margin: 0 auto;
}
/*box*/
/*category_img*/
.jb-a img{
    max-width: 100%;
    width: 300px;
    height: 300px;
}
.jb-a {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative
}
.posi{
    position: relative;
}
/*buttons*/
.position {
    position: absolute;
    z-index: 9;
    width: 27px;
    top: 219px;
    left: 251px;
}
.jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
}

.jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.jb-a:hover .jb-c {
    display: block;
}

.jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;

}
.jb-a:hover .jb-c {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s;
}
.box{
    float: left;
    margin-left: 50px;
}
.box li{
    float: left;
    margin: 0px 50px ;
}
/*text_box*/
.text_box{
    padding: 20px;
    text-align: center;
    line-height: 25px;
}
.text_box h2{
    padding-bottom: 10px;
}
/*footer*/
#footer_wrap{
    background-color: black;
    height: 400px;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap') format('woff2');
    font-weight: 100;
    font-style: normal;
}
.footer{
    width: 1130px;
    height: 400px;
    margin: 0 auto;
    padding: 50px;
    color: rgb(201, 201, 201);
    box-sizing: border-box;
}
.footer p{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding-left: 16px;
}
/*footer_left*/
.left_box{
    width: 480px;
    height: 300px;
    float: left;
    text-align: center;
    margin-right: 60px;
}
.sns_icon li{
    float: left;
}
.sns_icon li a{
    padding-left: 10px;
}
input{
    padding: 5px;
    display: inline-block;
    vertical-align: middle;/*우편번호 inline 하단에 맞춰져서 middle로 정렬*/
    outline: none;/*눌러도 아웃라인 안생기는거*/
}
input::placeholder{/*placeholder의 속성꾸미기*/
    color: rgb(255, 255, 255);
    padding-left: 10px;
}
.sub{
    margin: 20px 0 30px;
}
.left_box_left{
    float: left;
    width: 50%;
}
.left_box_right{
    float: right;
    width: 50%;
}
/*footer_right*/
.right_box{
    width: 480px;
    height: 300px;
    float: left;
    text-align: center;

}
.sub{
    margin: 10px 0 30px;
    font-weight: 500;
}
.right_box ul{
    padding-top: 10px;
    font-weight: 500;
}
.right_box ul li{
   display: inline-block;
}
.right_box ul li a{
    color: white;
    padding-right: 83px;    
}
.strong{ 
    padding: 20px 0;
    font-weight: 700;
}
.email{
    font-size: 15px;    
    padding: 20px 0;
    font-weight: 700;
}